@import url("https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cinzel:wght@700&family=Great+Vibes&family=Playfair+Display:wght@700&display=swap");

@import "tailwindcss";

html,
body {
  overscroll-behavior: none;
}

img {
  -webkit-user-drag: none !important;
  user-select: none !important;
  pointer-events: none !important;
  -webkit-touch-callout: none !important;
}

.plus {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.pop {
  font-family: "Poppins", sans-serif;
}

.life {
  font-family: "Life Savers", serif;
}

.font-serif-title {
  font-family: "Playfair Display", serif;
}

.font-cinzel {
  font-family: "Cinzel", serif;
}

.font-script {
  font-family: "Great Vibes", cursive;
}
